<div class="menu-hamburguesa invisible">
    <a href="#" class="item-hamburguesa ">
      <p class="item-with-arrow">PRODUCTOS</p><p class="item-with-arrow"></p>
    </a>
    <div class="arrow-item"> 
      <a href="/" class="item-hamburguesa invisible">
        <p>LIQUIDACIN VERANO</p>
      </a>
      <a href="#" class="item-hamburguesa invisible">
        <p class="item-with-arrow">PULSERAS</p><p class="item-with-arrow"></p>
      </a>
        <a href="/" class="subitem-hamburguesa invisible">
          <p>CUERO</p>
        </a>
        <a href="/" class="subitem-hamburguesa invisible">
          <p>BUDISTA Y PROTECCIN</p>
        </a>
        <a href="/" class="subitem-hamburguesa invisible">
          <p>OUTDOOR</p>
        </a>
        <a href="/" class="subitem-hamburguesa invisible">
          <p>ENERGTICAS Y PIEDRAS</p>
        </a>
        <a href="/" class="subitem-hamburguesa invisible">
          <p>VER TODO</p>
        </a>
        <a href="/" class="subitem-hamburguesa invisible">
          <p>ENCENDEDORES</p>
        </a>
        <a href="/" class="subitem-hamburguesa invisible">
          <p>SUMINISTROS ZIPPO</p>
        </a>
        <a href="/" class="subitem-hamburguesa invisible">
          <p>ACCCESORIOS Y REGALOS</p>
        </a>
        <a href="/" class="subitem-hamburguesa invisible">
          <p>VER TODO</p>
        </a>
        <a href="/" class="subitem-hamburguesa invisible">
          <p>CAMISAS</p>
        </a>
        <a href="/" class="subitem-hamburguesa invisible">
          <p>GIMNASIO</p>
        </a>
        <a href="/" class="subitem-hamburguesa invisible">
          <p>VER TODO</p>
        </a>
      <a href="#" class="item-hamburguesa invisible">
        <p class="item-with-arrow">ZIPPO</p><p class="item-with-arrow"></p>
      </a>
      <a href="/" class="item-hamburguesa invisible">
        <p>JOCKEYS</p>
      </a>
      <a href="/" class="item-hamburguesa invisible">
        <p>COLLARES</p>
      </a>
      <a href="/" class="item-hamburguesa invisible">
        <p>GORROS</p>
      </a>
      <a href="/" class="item-hamburguesa invisible">
        <p>AROS</p>
      </a>
      <a href="/" class="item-hamburguesa invisible">
        <p>ANILLOS</p>
      </a>
      <a href="/" class="item-hamburguesa invisible">
        <p>MOCHILAS</p>
      </a>
      <a href="/" class="item-hamburguesa invisible">
        <p>RELOJES</p>
      </a>
      <a href="/" class="item-hamburguesa invisible">
        <p>BILLETERAS</p>
      </a>
      <a href="#" class="item-hamburguesa invisible">
        <p class="item-with-arrow">ROPA</p><p class="item-with-arrow"></p>
      </a>
      <a href="/" class="item-hamburguesa invisible">
        <p>PEQUEOS DETALLES</p>
      </a>
      <a href="/" class="item-hamburguesa invisible">
        <p>DESCUENTOS</p>
      </a>
    </div>
    <a href="#" class="item-hamburguesa">
      <p class="item-with-arrow">EXPLORA</p><p class="item-with-arrow"></p>
    </a>
      <div class="arrow-item">
        <a href="/" class="item-hamburguesa invisible">
        <p>NOSOTROS</p>
      </a>
      <a href="/" class="item-hamburguesa invisible">
        <p>BLOG</p>
      </a>
      <a href="/" class="item-hamburguesa invisible">
        <p>EBOOK</p>
      </a>
      </div>
    <a href="#" class="item-hamburguesa">
      <p class="item-with-arrow">ASISTENCIA</p><p class="item-with-arrow"></p>
    </a>
      <div class="arrow-item">
        <a href="/" class="item-hamburguesa invisible">
          <p>BUSQUEDA DE PRODUCTO</p>
        </a>
        <a href="/" class="item-hamburguesa invisible">
          <p>BLOG</p>
        </a>
        <a href="/" class="item-hamburguesa invisible">
          <p>POLTICA DE PRIVACIDAD</p>
        </a>
        <a href="/" class="item-hamburguesa invisible">
          <p>CAMBIOS Y DEVOLUCIONES</p>
        </a>
        <a href="/" class="item-hamburguesa invisible">
          <p>CONOCE TU TALLA</p>
        </a>
        <a href="/" class="item-hamburguesa invisible">
          <p>CONTACTO</p>
        </a>
      </div>
  <a href="/" class="item-hamburguesa">
    <p>SEGUIMIENTO DE PEDIDO</p>
  </a>
  <a href="/" class="item-hamburguesa">
    <p>驴CMO COMPRAR?</p>
  </a>
  <a href="/" class="item-hamburguesa">
    <p>CONTACTO</p>
  </a>
  <a href="/" class="item-hamburguesa">
    <p>CAMBIOS Y DEVOLUCIONES</p>
  </a>
</div>

<div class="div-h2">
  <h2 class="section-category__title">CATEGORIAS</h2>
</div>

<section class="categorias-section">
  <div class="categorias-div">
      <a href="/"><img src="https://iili.io/HcHL1se.webp" class="categorias-img" alt=""><p>PULSERAS</p></a>
      <a href="/"><img src="https://iili.io/HcHLabS.webp" class="categorias-img" alt=""><p>COLLARES</p></a>
      <a href="/"><img src="https://iili.io/HcHLYe2.webp" class="categorias-img" alt=""><p>MOCHILAS</p></a>
      <a href="/"><img src="https://iili.io/HcHL0X9.webp" class="categorias-img" alt=""><p>BILLETERAS</p></a>
      <a href="/"><img src="https://iili.io/HcHLlz7.webp" class="categorias-img" alt=""><p>GORROS TEJIDOS</p></a>
      <a href="/"><img src="https://iili.io/HcHLGqu.webp" class="categorias-img" alt=""><p>RELOJES</p></a>
  </div>
</section>

<div class="div-h2">
  <h2 class="section-category__title">ENCENDEDORES ZIPPO</h2>
</div>

<section class="zippo-section">
    <img class="zippo-img" src="https://iili.io/HaIrAB9.jpg" alt="">

  <div class="zippo-div">
  <div class="div-zippo-a">
    <a class="zippo-a" href="/collections/zippo">IDEAL PARA REGALAR O REGALARSE.</a>
  </div>
  <div class="div-zippo-p">
    <p class="zippo-p">Los Zippo son sin贸nimo de innovaci贸n, durabilidad y constancia. Desde su concepci贸n en la d茅cada de 1930, Zippo cre贸 un dise帽o que permanece a pesar del paso del tiempo...</p>
  </div>
  <div class="div-zippo-boton">
    <a class="zippo-boton roboto-condensed" href="/collections/zippo">VER COLLECCIN</a>
  </div>
  </div>
</section>


<div class="div-h2">
  <h2 class="section-category__title">BLOG MILLAM</h2>
</div>
<section class="blog-section">
  <div class="article">
    <a href="/"><img src="https://iili.io/HcHhloP.webp" alt="" class="article-img"></a>

    <a href="/">DESCUBRE EL PODER DE LOS CHAKRAS EN NUESTRO CUERPO</a>

    <span class="article-span">07 septiembre, 2022</span>

    <p>驴Sab铆as que la medicina oriental considera que nuestro cuerpo tiene 7 chakras o puntos energ茅ticos? Ent茅rate c贸mo alinearlos para vivir plenamente.</p>

    <button>VER ARTCULO COMPLETO</button>
  </div>
  <div class="article">
    <a href="/"><img src="https://iili.io/HcHh0V1.webp" alt="" class="article-img"></a>

    <a href="/">HACE FRO Y QUIERO USAR MI JEAN FAVORITO</a>

    <span>19 julio, 2022</span>

    <p>Mi pasi贸n por el denim hizo que lo incorpor谩ramos a la tienda. Completa tu outfit con accesorios. Refleja tu personalidad con estos consejos.</p>

    <button>VER ARTCULO COMPLETO</button>
  </div>
</section>

<section class="newsletter-section">
    <h2 class="newsletter-h2">SUSCRIBITE AL NEWSLETTER</h2>
    <div class="newsletter-div-p">
      <p class="newsletter-p">Ent茅rate antes que nadie de promociones, novedades sobre lifestyle y mucho m谩s.</p>
      <strong class="newsletter-p">Recibe tu regalo sorpresa</strong>
    </div>
    <form method="post" accept-charset="UTF-8" class="formulario">
      <div class="newsletter-div-input">
        <input class="newsletter-input-nombre" type="text" placeholder="Nombre">
      </div>
      <div class="newsletter-div-boton">
        <input class="newsletter-input-mail" type="text" placeholder="Introduce tu direcci贸n de correo electr贸nico">
        <button type="submit" class="newsletter-boton roboto-condensed">ENVIAR</button>
      </div>
    </form>
</section>

<footer class="material-footer-contact-container">
  <div class="material-footer-contact">
    <div class="material-footer-contact-logo">
      <div>
        {{#if logo}}
          <a class="nav-material-header__logo" href="/" id="logo-wrapper">
            {{!-- <span class="nav-header__title-hidden">{{name}}</span>
            <img class="nav-header__image" src="{{logo}}" alt="{{name}}" itemprop="logo" /> --}}
          </a>
        {{else}}
          <h3 class="nav-footer-contact-title header--custom-text">
            <a href="/">{{name}}</a>
          </h3>
        {{/if}}
      </div>
      <div>
        <div class="material-footer__social-media">
          {{#each socialNetworks}}
          <a href="{{url}}" target="_blank" class="header--custom-svg" rel="noopener noreferrer nofollow">
            {{> (concat 'material/views/partials/icons/' (lookup . 'name'))}}
          </a>
          {{/each}}
        </div>
      </div>
    </div>
    <div class="nav-bounds nav-bounds--contact">
      <div class="material-footer__brand-col header--custom-text">
        {{#if logo}}
          <img class="nav-header__image logo-footer" src="https://iili.io/HazEP8G.webp" alt="{{name}}" itemprop="logo" />
        {{/if}}
        <div class="div-icons">
          <a href="/" rel="noreferrer noopener nofollow" target="_blank">
             <img class="icons" src="https://iili.io/HaspEox.png" alt="">
          </a>
          <a href="/" rel="noreferrer noopener nofollow" target="_blank">
            <img class="icons" src="https://iili.io/HaL9z42.png" alt="">
          </a>
          <a href="/" rel="noreferrer noopener nofollow" target="_blank">
            <img class="icons" src="https://iili.io/HaL9CQf.png" alt="">
          </a>
        </div>
      </div>
        
        <div class="div-icons invisible">
          <a href="/" rel="noreferrer noopener nofollow" target="_blank">
             <img class="icons" src="https://iili.io/HaspEox.png" alt="">
          </a>
          <a href="/" rel="noreferrer noopener nofollow" target="_blank">
            <img class="icons" src="https://iili.io/HaL9z42.png" alt="">
          </a>
          <a href="/" rel="noreferrer noopener nofollow" target="_blank">
            <img class="icons" src="https://iili.io/HaL9CQf.png" alt="">
          </a>
        </div>

      <section class="footer-section">
      <div class="dropdown header--custom-border menu-footer categoria-footer">
        <div class="div-h6">
        <h6>SOBRE MILLAM</h6>
        </div>
        <span class="material-footer__category header--custom-text">
            <a href="/" class="header--custom-text roboto">
              Nosotros
            </a>
        </span>
        <span class="material-footer__category header--custom-text">
            <a href="/" class="header--custom-text roboto">
              Ebook
            </a>
        </span><span class="material-footer__category header--custom-text">
            <a href="/" class="header--custom-text roboto">
              Blog
            </a>
        </span><span class="material-footer__category header--custom-text">
            <a href="/" class="header--custom-text roboto">
              驴C贸mo Comprar?
            </a>
        </span><span class="material-footer__category header--custom-text">
            <a href="/" class="header--custom-text roboto">
              Conoce tu talla
            </a>
        </span>
      </div>
      <div class="dropdown header--custom-border menu-footer categoria-footer">
        <div class="div-h6">
        <h6>ASISTENCIA</h6>
        </div>
        <span class="material-footer__category header--custom-text">
            <a href="/" class="header--custom-text roboto">
              Busqueda de Producto
            </a>
        </span>
        <span class="material-footer__category header--custom-text">
            <a href="/" class="header--custom-text roboto">
              Seguimiento de Pedido
            </a>
        </span><span class="material-footer__category header--custom-text">
            <a href="/" class="header--custom-text roboto">
              Pol铆ticas de Privacidad
            </a>
        </span><span class="material-footer__category header--custom-text">
            <a href="/" class="header--custom-text roboto">
              Cambios y Devoluciones
            </a>
        </span><span class="material-footer__category header--custom-text">
            <a href="/" class="header--custom-text roboto">
              Contacto
            </a>
        </span>
      </div>
      </section>

      <div class="material-footer__contact-col categoria-footer">
        <div class="div-h6">
        <h6>TIENDA BARRIO ITALIA</h6>
        </div>
        {{#if showContact}}
        <ul class="material-footer__contact header--custom-border">
          {{#if showPhone}}
          <li class="div-tel">
              <span class="tel roboto">{{phone.formatted}}</span>
          </li>
          {{/if}}
          {{#if showEmail}}
          <li>
            <a class="header--custom-text" itemprop="email" href="mailto:{{email}}" rel="nofollow">
              <span>{{email}}</span>
            </a>
          </li>
          {{/if}}
          {{#if address}}
          <li>
            <a class="header--custom-text address-container" itemprop="streetAddress">
              <span class="roboto">{{address.address}}</span>
              <span class="roboto">{{address.city}}</span>
              <span>{{address.state}}</span>
            </a>
          </li>
          {{/if}}
          <meta itemprop="contactType" content="customer service" />
        </ul>
        {{/if}}
      </div>
    </div>
  </div>
  <div class="material-footer-info">
    <div>
      {{#if linkToLGPD}}
        <a href="{{linkToLGPD.href}}" class="footer-ms header">{{linkToLGPD.label}}</a>
        <span class=" footer-ms material-footer-info__separator"> | </span>
      {{/if}}
      <a href="{{linkToHowBuy.href}}" class=" footer-ms">{{linkToHowBuy.label}}</a>
      {{#if showBusinessData}}
        {{#with fiscalData}}
          <div class=" footer-ms nav-footer-fiscal-data">
            <p class=" footer-ms nav-footer-fiscal-data__name">{{legal_name}}</p>
            <p class=" footer-ms nav-footer-fiscal-data__id">{{legal_doc}}</p>
          </div>
        {{/with}}
      {{/if}}
    </div>
    <div class="material-footer-info__icons">
      <a href="{{{linkToMShopsLandingPage}}}" target="_blank" class="footer-ms material-footer-info__brand">
        <span class="footer-ms">{{i18n.powered_by}}</span>
        {{> material/views/partials/icons/mshops}}
      </a>
      {{#if showQrData}}
        {{#with fiscalData}}
          <a href={{qr_link}} target="_F960AFIPInfo">
            <img class="nav-footer-afip-img" src={{qr_img}} alt="Data fiscal" />
          </a>
        {{/with}}
      {{/if}}
    </div>
  </div>
</footer>
